*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    font-size: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}

.container {
    width: 70%;
    max-width: 700px;
    /* position: relative; */
}

.add-books h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: blueviolet;
    text-align: center;
    margin-top: 70px;
}

.add-books label {
    color: coral;
    font-size: 1.2rem;
    padding: 20px 0;
}

.add-books input {
    width: 100%;
    margin: 12px 0;
    border-radius: 5px;   
    padding: .5rem .8rem;
    font-size: 1.2rem;
    text-align: left;
    outline: none;
    color: blueviolet;
    border: 2px solid rgb(214, 211, 211);
    cursor: pointer;
}

input:focus {
    border: 2px solid blueviolet;
}

#addBook {
    text-align: center;
    padding: .6rem;
    width: 20%;
    min-width:120px;
    font-size: 1.2rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: blueviolet;
    color:coral;
    font-weight: bold;
    transition: .2s ease-in-out;
    border: none;
}

#addBook:hover, #addBook:focus {
    background: none;
    border: 2px solid blueviolet;
    color: blueviolet;
    padding: .5rem;
}

.book-list {
    width:100%;
}

.books-listed{
    width: 100%;
    border: none;
    text-align: center;
    margin-top: 20px;
}

.books-listed thead {
    border-bottom: 2px solid rgb(214, 211, 211);
}

td {
    color: coral;
    font-size: 1.15rem;
    padding: 8px;   
}

td.titles { 
    font-weight: bold;
    font-size: 1.2rem;
    color: blueviolet;
}

.success {
    width:100%;
    background: green;
    padding: 1rem;
}

.danger {
    width:100%;
    background: red;
    padding: 1rem;
}



@media screen and (max-width:768px) {
    html {
        font-size: 62.5%;
    }
}


    



















